<%- include('partials/header') -%>
<div style="margin-top: 50px;"></div>
<div class="container marketing">
    <h1 id="alcoholic_head" style="font-family: 'Nunito';">Non-Alcoholic</h1>

    <!-- Three columns of text below the carousel -->
    <div class="container">
        <div class="row">
            <%notCocktails.forEach(notCocktail => {%>

            <div class="col-lg-4"  style="margin-top: 60px; text-align: center;">
                <img src="<%=notCocktail.strDrinkThumb%>" id="category_img" style="">
                <h2 style="font-family: 'Nunito'; font-size: 30px;"><%=notCocktail.strDrink%></h2>
                <p><a class="btn" href="/recipes/<%=notCocktail.strDrink%>" style="background-color: #e63946; color: white;">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <%});%>
        </div>
    </div>
    <div class="row">


<%- include('partials/footer') -%>